<header class="p-3 bg-dark text-white my-0">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/" class="nav-link px-2 text-white">Inicio</a></li>
          <li><a routerLink="/monedas" class="nav-link px-2 text-white disabled">Datos de Monedas</a></li>
        </ul>

        <div class="text-end">
          <a class="btn btn-outline-light me-2" routerLink="#">Iniciar Sesion</a>
          <a class="btn btn-success" routerLink="#">Registrarse</a>
        </div>
      </div>
    </div>
</header>