<div class="d-flex bg-dark">
    <div id="selectorDeMonedas" class="bg-dark py-5 px-5 my-5">
        <ul>
            <li *ngFor="let moneda of datosAPI.listaMonedas | slice: (page-1) * pageSize : page * pageSize">
                <button class="border border-light text-light bg-dark  rounded" (click)="monedaSeleccionada(moneda)">{{moneda.name}}</button>
            </li>
        </ul>
        <ngb-pagination
        [collectionSize]="this.datosAPI.listaMonedas.length"
        [pageSize]="pageSize"
        [directionLinks]="false"
        [(page)]="page"
        class="w-100"
        >
        </ngb-pagination>
    </div>
    
    <!--  -->
    <div id="listarMonedas" class="mx-5 my-5 bg-dark">
        <table class="text-light">
            <thead>
                <tr>
                    <th class="border-bottom border-light">Imagen</th>
                    <th class="border-bottom border-light">Nombre</th>
                    <th class="border-bottom border-light">Simbolo</th>
                    <th class="border-bottom border-light">Precio (€)</th>
                    <th class="border-bottom border-light">Capitalizacion (€)</th>
                    <th class="border-bottom border-light">Volumen (€)</th>
                    <th class="border-bottom border-light">Precio mas alto (24h)</th>
                    <th class="border-bottom border-light">Precio mas bajo (24h)</th>
                    <th class="border-bottom border-light">Detalles</th>
                    <th class="border-bottom border-light">Acciones</th>
                </tr>
            </thead>
            <tr *ngFor="let moneda of listaSeleccionadas" class="border-bottom border-dark">
                <td class="border-bottom border-light">
                    <img src="{{ moneda.image.large }}" alt="{{ moneda.name }}" width="50px" routerLink="/detalles/{{moneda.id}}"/>
                </td>
                <td class="border-bottom border-light">{{ moneda.name }}</td>
                <td class="border-bottom border-light">{{ moneda.symbol }}</td>
                <td class="border-bottom border-light">{{ moneda.market_data.current_price.eur }}</td>
                <td class="border-bottom border-light">{{ moneda.market_data.market_cap.eur }}</td>
                <td class="border-bottom border-light">{{ moneda.market_data.total_volume.eur }}</td>
                <td class="border-bottom border-light">{{ moneda.market_data.high_24h.eur }}</td>
                <td class="border-bottom border-light">{{ moneda.market_data.low_24h.eur }}</td>
                <td class="border-bottom border-light">
                    <i routerLink="/detalles/{{moneda.id}}" class="fa-solid fa-circle-info"></i>
                </td>
                <td class="border-bottom border-light">
                    <i (click)="borrarMoneda(moneda)" class="fa-solid fa-circle-xmark"></i>
                </td>
            </tr>
        </table>
    </div>
</div>


